ul {
  list-style-type: none;
  margin: 5px;
  padding: 2px;
}

li {
  margin-bottom: 3px;
}

p {
  display: flex;
  justify-content: center;
}

.block {
  border-color: azure;
  border-width: 2px;
  border-style: solid;
}
