div {
  margin: 5px;
}

strong {
  justify-content: center;
}

.flex-row-container {
  display: flex;
  height: 30px;
}

.flex-row-container > strong {
  text-align: center;
}

.flex-row-container > image {
  height: 30px;
  width: 30px;
  object-fit: contain;
  border-radius: 4px;
}

.issue-paragraph {
  min-height: 90px;
  text-wrap: normal;

}

